.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightgray;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navlinks {
  text-decoration: none;
}
